.navbar{
    background-color: #007fff;
}
.quemsou{
    background-color: rgb(207, 40, 40);
}
.margin{
    padding-top: 30px;
    padding-bottom: 50px;
}
.formação{
    background-color: aqua;
}
.habilidades{
    background-color: chocolate;
}
.rodapé{
    background-color: blue;
    color: antiquewhite;
}